@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
.radio-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 0.9px solid rgba(218, 218, 218, 1); 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    border-color: rgba(255, 107, 130, 1); 
}

input[type="radio"]:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: rgba(255, 107, 130, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.container{
    font-family: "Inter";
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    gap: 20px;
    position: relative;
    height: 100vh;
    
}
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    border: 0.9px solid rgba(200, 200, 200, 1);
}
.header h1{
    color: rgba(255, 107, 130, 1);
}

.main-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.units{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 600;
}
.popular{
    background-color: rgba(255, 107, 130, 1);
    position: absolute;
    top: -10px;
    right: 4px;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
}
.main-section{
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.9px solid rgba(200, 200, 200, 1);
    padding: 15px 15px 1px 5px;
    gap: 25px;
    position: relative;
}
.bnbv{
    background-color: red;
}
#price{
    font-size: 18px;
    font-weight: 500;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.unit-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}
.unit{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.blur-usd{
    color: rgba(0, 0, 0, 1);
    opacity: 30%;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 600;

}
.discount{
    background-color: rgba(255, 107, 130, 1);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
}
.sp{
    font-size: 13px;
}

.size-color-section{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.size-color-container{
    width: 100%;
    
}
select{
    width: 7vw;
    padding: 8px;
    background-color: white;
    border: 0.9px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
}
.first-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}
#common-style{
    margin-left: 10px;
}

.free-del-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: rgba(255, 107, 130, 1); */
}
#free-del{
    color: rgba(255, 107, 130, 1);
}
#total{
    font-weight: 600;
}
.btn{
    background-color: rgba(255, 107, 130, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: white;
    border-radius: 5px;
}
.btn-section{
    display: flex;
    flex-direction: column;
     gap: 5px;
}
.footer{
     display: flex;
     justify-content: end;
     color:rgba(0, 0, 0, 0.4);
     font-size: 15px;
}
